<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/normalize.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="divGeneral">
      <header class="header">
        <div class="centroHeader">
          <img
            class="imagenTitulo"
            src="../assets/img/Carrusel/Imagen titulo.png"
            alt=""
          />
          <h1 class="h1Titulo">Guns N' Roses</h1>
          <div class="imagenBanda">
            <img src="../assets/img/Carrusel/banda titulo.jpg" alt="" />
          </div>
        </div>
      </header>
      <div>
        <nav class="nav">
          <ul class="listaMenu">
            <li class="itemMenu"><a href="../index.html">Inicio</a></li>
            <li class="itemMenu"><a href="./albumes.html">Albumes</a></li>
            <li class="itemMenu"><a href="./miembros.html">Integrantes</a></li>
            <li class="itemMenu"><a>Sobre Nosotros</a></li>
          </ul>
        </nav>
      </div>
      <br />
      <div class="divContenedorAlbun">
        <div class="divAlbun">
          <img class="imgAlbun" src="../assets/img/Carrusel/Imagen titulo.png" alt="" />
          <h3 class="tituloAlbun">Titulo del albun</h3>
          <p class="descripcionAlbun">pequeña descripcion del albun musical ssssssssss sssssssssssssss ssssssss ssssssss ssssssssssss ssssssssss ssssssssssssssssss sssssssssssssss ssssssssssss sssssssssssssssssssssss sssssssssssssssssssss ssssssss sssssssssssssssss sssssssssssss sssssssss</p>
        </div>
        <div class="divAlbun">
          <img class="imgAlbun" src="../assets/img/Carrusel/Imagen titulo.png" alt="" />
          <h3 class="tituloAlbun">Titulo del albun</h3>
          <p class="descripcionAlbun">pequeña descripcion del albun musical</p>
        </div>
        <div class="divAlbun">
          <img class="imgAlbun" src="../assets/img/Carrusel/Imagen titulo.png" alt="" />
          <h3 class="tituloAlbun">Titulo del albun</h3>
          <p class="descripcionAlbun">pequeña descripcion del albun musical</p>
        </div>
        <div class="divAlbun">
          <img class="imgAlbun" src="./assets/img/Carrusel/Imagen titulo.png" alt="" />
          <h3 class="tituloAlbun">Titulo del albun</h3>
          <p class="descripcionAlbun">pequeña descripcion del albun musical</p>
        </div>
        <div class="divAlbun">
          <img class="imgAlbun" src="../assets/img/Carrusel/Imagen titulo.png" alt="" />
          <h3 class="tituloAlbun">Titulo del albun</h3>
          <p class="descripcionAlbun">pequeña descripcion del albun musical</p>
        </div>
        <div class="divAlbun">
          <img class="imgAlbun" src="../assets/img/Carrusel/Imagen titulo.png" alt="" />
          <h3 class="tituloAlbun">Titulo del albun</h3>
          <p class="descripcionAlbun">pequeña descripcion del albun musical</p>
        </div>
      </div>
    </div>
  </body>
</html>
