<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/normalize.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="divGeneral">
      <header class="header">
        <div class="centroHeader">
          <img
            class="imagenTitulo"
            src="../assets/img/Imagen titulo.png"
            alt=""
          />
          <h1 class="h1Titulo">Guns and Roses</h1>
          <div class="imagenBanda">
            <img src="../assets/img/banda titulo.jpg" alt="" />
          </div>
        </div>
      </header>
      <div>
        <h2>Miembros de Guns and Roses</h2>
        <div class="normal">
          <h2>Axl Rose</h2>
          <p>
            William Bruce Rose Jr. (Lafayette, Indiana, 6 de febrero de 1962),
            originalmente William Bruce Bailey, más conocido por su nombre
            artístico Axl Rose, es un músico, cantante, compositor y pianista
            estadounidense.2 Es famoso por ser el cantante, líder y compositor
            de la banda de hard rock Guns N' Roses, con la que tuvo gran éxito
            alrededor del mundo a finales de las décadas de 1980 y principios de
            la de 1990.
          </p>
        </div>
        <div class="normalInverso">
          <h2>Duff McKagan</h2>
          <p>
            Michael Andrew "Duff" McKagan (Seattle, Washington, Estados Unidos;
            5 de febrero de 1964) es un músico, compositor y productor
            discográfico estadounidense, es el bajista y segundo vocalista de la
            banda de hard rock Guns N' Roses y guitarrista de Loaded. McKagan
            empezó a tocar la guitarra a los 2 años. En 2011 publicó su
            autobiografía. En 2014 se reintegró de manera temporal a Guns N'
            Roses para la gira sudamericana y en el 2016 regresó de manera total
            a la banda después de casi 18 años.
          </p>
        </div>
        <div class="normal">
          <h2>Slash</h2>
          <p>
            Saul Hudson (Hampstead, Londres; 23 de julio de 1965), más conocido
            por su nombre artístico Slash, es un músico y compositor
            británico-estadounidense,1 conocido principalmente por ser el
            guitarrista principal de la banda de hard rock Guns N' Roses. Es el
            guitarrista principal del grupo de rock estadounidense Guns N'
            Roses, volviendo después de casi veinte años fuera de la banda. En
            2004, cofundó el supergrupo Velvet Revolver junto con sus compañeros
            de Guns N' Roses, Duff McKagan y Matt Sorum, el guitarrista Dave
            Kushner (exmiembro de Suicidal Tendencies e Infectious Grooves) y el
            cantante Scott Weiland.
          </p>
        </div>
        <div class="normalInverso">
          <h2>Dizzy Reed</h2>
          <p>
            Dizzy Reed, nacido como Darren Arthur Reed (Hinsdale, Illinois, 18
            de junio de 1963), es un teclista estadounidense, miembro de Guns N'
            Roses desde inicios de 1990 hasta la actualidad. Se incorporó a la
            banda durante la grabación de Use Your Illusion I y Use Your
            Illusion II.
          </p>
        </div>
        <div class="normal">
          <h2>Richard Fortus</h2>
          <p>
            Richard Fortus (n. San Luis, Misuri; 17 de noviembre de 1966) es un
            músico estadounidense. Es el actual guitarrista rítmico de Guns N'
            Roses. En 2002, el guitarrista pasó a integrar las filas de Guns N'
            Roses. Richard Fortus habría participado de una audición para la
            banda a mediados del 2000 para ser tercer guitarrista junto con
            Robin Finck y Paul Tobias, pero Axl Rose decidió cancelar dicha
            audición y contratar al excéntrico guitarrista Buckethead. Tommy
            Stinson, le dijo que en caso de que alguno de los guitarristas de la
            banda tuviera que irse, lo llamarían de inmediato, lo cual ocurrió
            durante la salida de Paul Tobias en 2002.
          </p>
        </div>
        <div class="normalInverso">
          <h2>Frank Ferrer</h2>
          <p>
            Frank Ferrer (n. 25 de marzo de 1966) es un baterista de rock y
            músico de sesión estadounidense. En octubre de 2006, Ferrer se
            convirtió en un miembro oficial de la banda estadounidense de hard
            rock Guns N' Roses, después de servir como sustituto al baterista de
            la banda Bryan Mantia en varias ocasiones durante la gira de la
            banda por Europa en el verano de 2006. Ferrer es también miembro de
            The Psychedelic Furs, así como un exmiembro de Love Spit Love. Ha
            grabado y trabajado con varios músicos de alto perfil incluyendo The
            Beautiful, Robi Draco Rosa, y Sarah Clifford.
          </p>
        </div>
        <div class="normal">
          <h2>Melissa Reese</h2>
          <p>
            Melissa Reese (Seattle, Estados Unidos, 1 de marzo de 1985) es una
            artista musical estadounidense conocida por su participación en 2016
            en la gira Not in This Lifetime del grupo Guns N' Roses. También
            trabajó en diversos proyectos con el baterista Bryan Mantia. El 1 de
            abril de 2016, Melissa Reese actúa por primera vez con Guns N' Roses
            en el club Troubadour de Los Ángeles que marca el inicio de la gira
            Not in This Lifetime... convirtiéndose en una miembro oficial de la
            banda como tecladista y sintetizadora reemplazando el lugar de Chris
            Pitman.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
