<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" />
    <link rel="stylesheet" href="../assets/css/normalize.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/btn.css">
    <link rel="stylesheet" href="../assets/css/mp3.css">
    <link rel="shortcut icon" href="../assets/img/Carrusel/Imagen titulo.png" type="image/x-icon">
    <title>Sobre Nosotros</title>
  </head>
  <body>
    <main class="divGeneral">
      <header class="header">
        <div class="centroHeader">
          <img
            class="imagenTitulo"
            src="../assets/img/Carrusel/Imagen titulo.png"
            alt=""
          />
          <h1 class="h1Titulo">Guns and Roses</h1>
          <div class="imagenBanda">
            <img src="../assets/img/Carrusel/banda titulo.jpg" alt="" />
          </div>
        </div>
      </header>
      <div>
        <nav class="nav">
          <ul class="listaMenu">
            <li class="itemMenu"><a href="../index.html">Inicio</a></li>
            <li class="itemMenu">
              <a href="./sobreNosotros.html">Conoce Nuestra Banda</a>
            </li>
            <li class="itemMenu"><a href="./albumes.html">Albumes</a></li>
            <li class="itemMenu"><a href="./miembros.html">Integrantes</a></li>
          </ul>
        </nav>
      </div>
      <div class="content">
        <h1 class="contentTitle">Nuestra Banda</h1>
        <div class="normal">
          <div class="imagenArtista">
            <img src="../assets/img/Hollywood.jpg" alt="fundacion" /><br />
            Guns N 'Roses se formo en Hollywood, Los Ángeles, California.
          </div>
          <div class="bloqueInfo">
            <h2 class="contentTitle">Historia</h2>
            <p class="estiloParrafos">
              La banda fue formada en marzo de 1985 por Axl Rose (voz,
              teclados), Tracii Guns (guitarra líder), Izzy Stradlin (guitarra
              rítmica, coros), Ole Beich (bajo) y Rob Gardner (batería). Los
              cinco miembros originales eran de dos grupos diferentes, L.A. Guns
              (que más tarde fue reformado) y Hollywood Rose. Posteriormente,
              los miembros decidieron combinar los nombres de los dos grupos
              anteriores y llamar a la banda Guns N' Roses. Desde Hollywood Rose
              llegaron Axl Rose (voz) e Izzy Stradlin (guitarra rítmica),
              mientras que de L.A. Guns llegaron Tracii Guns (guitarra solista),
              Ole Beich (bajo) y Rob Gardner (batería). Ole Beich, originalmente
              de L.A Guns, abandonó la formación pocos días después de la
              creación del grupo siendo reemplazado por Duff McKagan, quien
              debutaría con los demás en el primer show de la banda el 26 de
              marzo de 1985 en el Troubadour. Finalizado su séptimo show, el 12
              de mayo en Joshua's Record, el guitarrista Tracii Guns fue
              expulsado de la banda debido a diferencias con Axl Rose, tras su
              salida refundo L.A Guns. Al día siguiente Rob Gardner decidió
              abandonar el grupo. En sus lugares llegaron Saul Hudson, más
              conocido como Slash y Steven Adler quienes tenían experiencia
              previa en varias bandas, además de tener buena relación con Axl e
              Izzy por haber formado parte de una alineación de Hollywood Rose
              solo unos meses atrás. Con esta formación (Axl, Slash, Izzy
              Stradlin, Duff y Adler) alcanzarian la fama mundial. Su debut se
              daría el 6 de junio en el Troubadour
            </p>
          </div>
        </div>
        <div class="bloqueInfo">
          <h2 class="contentTitle">Estilo Musical</h2>
          <p class="estiloParrafos">
            La música de Guns N' Roses es una fusión de hard rock, blues rock,
            heavy metal y el clásico rock and roll
          </p>
        </div>
        <div class="bloqueInfo">
          <h2 class="contentTitle">Premios y Nominaciones</h2>
          <p class="estiloParrafos">
            Desde 1989 hasta 1993 Guns N' Roses fue nominado por la American
            Music Awards, los Grammy Awards, los MTV Video Music Awards y los
            World Music Awards en 20 ocasiones, y ganaron 9 premios. El 14 de
            abril de 2012 ingresaron al Salón de la Fama del Rock
          </p>
        </div>
        <div class="bloqueInfo">
          <h2 class="contentTitle">Colaboraciones</h2>
          <ul class="size">
            <li class="estiloParrafos">
              West Arkeen, líricas en todos los álbumes (era considerado el 6to
              gunner)
            </li>
            <li class="estiloParrafos">
              Alice Cooper, voces (Use Your Ilussion I)
            </li>
            <li class="estiloParrafos">
              Shannon Hoon, voces, coros (Use Your Ilussion I & II)
            </li>
            <li class="estiloParrafos">
              Stuart Bailey, coros (Use Your Ilussion I & II)
            </li>
            <li class="estiloParrafos">
              The Waters, coros (Use Your Ilussion II)
            </li>
            <li class="estiloParrafos">
              Michael Monroe, Voz (The Spaghetti Incident?)
            </li>
            <li class="estiloParrafos">
              Zakk Wylde, guitarra improbable (Chinese Democracy)
            </li>
            <li class="estiloParrafos">
              Brian May, guitarra (Chinese Democracy) + Shows en Vivo En 1992
            </li>
          </ul>
        </div>
        <div class="containerBtn">
          <input type="checkbox" id="btn-mas" />
          <div class="redes" id="mp3Player">
    
            <!-- Player -->
            <div class="player">
              <!-- Title -->
              <h1 class="title" id="title"></h1>
    
              <!-- Cover -->
              <img src="" alt="" class="cover" id="cover" />
    
              <!-- Audio HTML Media elememt -->
              <audio src="" id="audio"></audio>
    
              <!-- Progress bar -->
              <div id="progress-container" class="progress-container">
                <section id="progress" class="progress"></section>
              </div>
    
              <!-- Controls -->
              <section class="controls">
                <button class="prev">
                  <i id="prev" class="fas fa-backward"></i>
                </button>
                <button class="play">
                  <i id="play" class="fas fa-play"></i>
                </button>
                <button class="next">
                  <i id="next" class="fas fa-forward"></i>
                </button>
              </section>
    
              <!-- Song list -->
              <ul class="songs" id="songs">
                <!-- <li><p>Song 1</p></li> -->
              </ul>
            </div>
    
          </div>
          <div class="btn-mas">
            <label for="btn-mas" id="btn-mp3" class="fas fa-music"></label>
          </div>
        </div>
      </div>
    </main>
    <script src="../assets/js/main.js"></script>
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
  </body>
</html>
